.navbar-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-container .logo-navbar {
    width: 150px;
    height: 150px;
    margin-right: auto;
    position: relative;
    top: 10px;
}

.navbar-container .nav-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-container .nav-items .item {
    margin-right: 50px;
    font-size: larger;
    text-decoration: none;
    color: white;
    opacity: 80%;
}

.navbar-container .nav-items .item:hover {
    text-decoration: underline;
    color: #9E7442;
    font-weight: bolder;
}